<!DOCTYPE html>

<html>

  <head>

    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <header>
      <nav>
          <ul>
            <h1 class="title"><a href="/">Blogz!</a></h1>
              <li><a href="/blog">Main Blog Page</a></li>
              <li><a href="/newpost">Add a Blog Entry</a></li>
              <li><a href="/signup">User Signup</a></li>
              <li><a href="/login">Login</a></li>
              <li><a href="/logout">Logout</a></li>
              </ul>
      </nav>
  </header>

      {% block content %}
      {% endblock %}
    </div>

  </body>

</html>